:root {
    --menu-bar-width:60px;
    --menu-bar-height:10px;
    --background-beam:#D84282
}

#menu {
    background-color: var(--background-beam);
    position: relative;
    width: var(--menu-bar-width);
    height: var(--menu-bar-height);
    transition: all 0.15s ease-in-out;
}

#menu::before,
#menu::after{
    background-color: var(--background-beam);
    display: block;
    content: "";
    position: absolute;
    width: var(--menu-bar-width);
    height: var(--menu-bar-height);
    transition: all 0.35s ease-in-out;
}

#menu::before{
    left:0;
    top: -20px;
}

#menu::after{
    left:0;
    bottom: -20px;
}

#container{
    /*border: 2px hotpink solid;*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    padding: 20px 0;
}

#container:hover #menu{
    background-color: transparent;
}

#container:hover #menu::before{
    transform: rotate(45deg);
    top:0;
}

#container:hover #menu::after {
    transform: rotate(-45deg);
    bottom:0;
}

